@import 'antd/dist/antd.css';

.app {
    width: 80%;
    margin: 40px auto;
    background-color: rgba(238, 238, 238, 0.39);
    text-align: center;
    padding: 40px;
}

.bold-span {
    font-weight: 500;
}